.root{
    -fx-background-color: #EBEBEB;

}

.label{
    -fx-text-fill: #000000;
}

.button{
    -fx-border-size: 1px;
    -fx-border-color: blue;
    -fx-border-size: 2px;
}

#toolbar{
    -fx-background-color: red;
}

#chatWindow{
    -fx-background-color: #DCDCDC;
    -fx-border-color: yellow;
}

#chatTextInput{
    -fx-border-color: yellow;
    -fx-background-color: #DCDCDC;
}

#notificationList{
    -fx-border-color: yellow;
    -fx-background-color: #DCDCDC;
}

#chatMemberBox{
    -fx-border-color: yellow;
    -fx-border-size: 3px;
    -fx-background-color: #DCDCDC;
}

#lblUsername{
    -fx-text-color: yellow;
    color: yellow;
}